<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gramblr Signup</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link href="{% static 'grumblr/grumblr.css' %}" rel="stylesheet">
</head>

{% load static %}
<body class="sign" background="{% static 'grumblr/img/lips.png' %}">



    <div class="container">

        <div class="collapse navbar-collapse" >

            <h1 class="motto">Record your stories,<br>
            &nbsp&nbspShare with friends,<br>
            &nbsp&nbsp&nbsp&nbspand Enjoy your life!</h1>

        </div>

        <div class="col-md-4 col-sm-5  col-sm-offset-7 register-box">


            {% block content %}

            {% endblock %}
            {% csrf_token %}
        </div>


    </div>

</body>

</html>