{% extends "grumblr/base.html" %}
{% load static %}

{% block content %}

<table class="col-md-8 col-md-offset-2 setting-box">

    <td class="col-sm-3 list_group">
        <a href="{% url 'edit_profile' %}" class="list-group-item">Edit Profile</a>
        <a href="{% url 'change_password' %}" class="list-group-item">Change Password</a>
    </td>

    <td class="col-sm-9 setting-box-right">

        <form name="form-password" action="{% url 'change_password' %}" method="post"  style="margin-top: 50px">
        <table>
            <tr>
                <th><label for="id_old_password">Old password:</label></th>
                <td><input class="form-control" autofocus="" id="id_old_password" name="old_password" type="password" required /></td>
            </tr>
            <tr>
                <th><label for="id_new_password1">New password:</label></th>
                <td><input class="form-control" id="id_new_password1" name="new_password1" type="password" required /></td>
            </tr>
            <tr>
                <th><label for="id_new_password2">New password confirmation:</label></th>
                <td><input class="form-control" id="id_new_password2" name="new_password2" type="password" required /></td>
            </tr>
        </table>
            <br />
            <button class="btn btn-block" type="submit" value="Change Password">Submit</button>

            {{ form_password.errors }}

            {{ message }}

            {% csrf_token %}
        </form>
    </td>

</table>

{% endblock %}