<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Grumblr Global</title>
	    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    {% load static %}
	    <link href="{% static 'grumblr/grumblr.css' %}" rel="stylesheet">
	</head>

	<body class="page">
		<!-- Fixed navbar -->
	    <nav class="navbar navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="/">grumblr</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>

	            </div>

                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="{% url 'profile' pk=user.pk %}">
                            <span class="glyphicon">@{{ user.username }}</span></a>
                        </li>
                        <li><a href="{% url 'follow_stream' pk=user.pk %}"><span class="glyphicon glyphicon-heart"></span></a> </li>
                        <li><a href="/"><span class="glyphicon glyphicon-globe"></span></a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span></a></li>

	                </ul>
	            </div><!--/.nav-collapse -->
	        </div>
	    </nav>

        {% block content %}

        {% endblock %}
        {% csrf_token %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</body>
</html>