
{% extends 'grumblr/base_login.html' %}
{% load static %}
{% block content %}

{% if validlink %}
<form action="" method="post">

    <p>{{ form.errors }}</p>

    <center>
        <label for="id_new_password1" class="required">New password</label>
        {{ form.new_password1 }}

        <label for="id_new_password2" class="required">Confirm password</label>
        {{ form.new_password2 }}

        <button class="btn btn-primary btn-block" type="submit" value="submit">Submit</button>
        <br>
    </center>
    {% csrf_token %}
</form>

{% endif %}

{% endblock %}