body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background-repeat:no-repeat;

  background-size: 800px 500px;
  background-attachment: fixed;
  background-position: 70px 70px;

}

h1.handwritten {

  margin-top: 360px;
  margin-left: 200px;
  line-height: 130%;
font-family: LucidaHandwriting-Italic;
font-size: 24px;
word-spacing: 5px;
color: #FFFFFF;
text-shadow: 1px 1px 2px rgba(0,0,0,0.50);
position: fixed;
}

h2.handwritten{
font-family: LucidaHandwriting-Italic;
text-align:center;
font-size: 30px;
color: #337ab7;
text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
margin-bottom: 20px;
}


.signup-box {
margin-top: 20px;
opacity: 0.9;
background: #FAFAFA;
border: 1px solid #979797;
border-radius: 5px;
}

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


.form-signup .form-signup-heading,
.form-signup {
  margin-bottom: 10px;
}

.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}

.form-signup input[type="firstName"]{
    margin-bottom: -1px;
    text-align: center;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="lastName"]{
    margin-bottom: -1px;
    text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="username"] {
  margin-bottom: -1px;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="password"] {
  margin-bottom: -1px;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="confirmPassword"] {
  margin-bottom: 10px;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup button{
font-family: LucidaHandwriting-Italic;
font-size: 18px;
color: #FFFFFF;
}

.form-signup p{
margin-top: 10px;
text-align: center;
font-size: 10px;
color: #8E8E8E;
}

.form-signup .link a{
margin-top: 10px;
text-align: center;
font-size: 14px;
color: #337ab7
}





